* {
  box-sizing: border-box;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body{
  background-color: rgb(94, 116, 34);
}

.box-wrap {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

h1, h2, h4{
  color: black;
  font-family: sans-serif;
}
h3{
  color: rgb(226, 241, 8);
}
.text1{
  color: black;
}
.hidden {
  display: none;
}
